<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-4">
    <h1 class="mb-4">Lista de Productos</h1>
    <div class="row">
      <div class="col-12">
        <ion-list class="list-group">
          <ion-item class="list-group-item" *ngFor="let producto of productos">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="col">
                <ion-label><strong>Nombre:</strong> {{ producto.nombre }}</ion-label>
              </div>
              <div class="col">
                <ion-label><strong>Peso:</strong> {{ producto.peso }} kg</ion-label>
              </div>
              <div class="col">
                <ion-label><strong>Precio:</strong> {{ producto.precio }}</ion-label>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
