<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Retail off</ion-list-header>
          <ion-note>user&#64;retailoff.com</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[]" lines="none" detail="false" routerLinkActive="">
              <ion-label>Contactanos</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="[]" lines="none" detail="false" routerLinkActive="">
              <ion-label>Acerca de</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="[]" *ngIf="isLogin" lines="none" detail="false" routerLinkActive="">
              <ion-label>SCAN QR</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="[]" (click)="goProductos()" lines="none" detail="false" routerLinkActive="">
              <ion-label>Productos</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="[]" *ngIf="isLogin" (click)="goMap()" lines="none" detail="false" routerLinkActive="">
              <ion-label>Map</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="[]" *ngIf="isLogin" lines="none" detail="false" routerLinkActive="">
              <ion-label>Historial</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="[]" *ngIf="isLogin" (click)="logout()" lines="none" detail="false" routerLinkActive="">
              <ion-label>Cerrar sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
